chromadb==1.0.15
sentence-transformers==5.0.0
streamlit==1.47.0
beautifulsoup4==4.13.4
ollama==0.4.8
google-api-python-client==2.170.0
google-genai==1.16.1
google-cloud-aiplatform==1.95.0
einops==0.8.1
langdetect==1.0.9
html-to-json==2.0.0
deep-translator==1.11.4
fpdf==1.7.2
pyvis>=0.3.0
langid==1.1.6
json2html
