<!DOCTYPE html>

<html lang="en"><head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Sample Reports</title>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

  </style>
</head>
<body><h1>CT SPINE</h1><table>
<tbody><tr><td bgcolor="#ababab">Free Text</td><td ,="" bgcolor="#ededed" style="white-space: word-wrap;">__FILL__</td></tr><tr><td bgcolor="#ababab">Structured</td><td ,="" bgcolor="#ffffff" style="white-space: pre-wrap; word-wrap: break-word;"><table border="1"><tbody><tr><th>FINDINGS</th><td><table border="1"><tbody><tr><th>BONES</th><td><table border="1"><tbody><tr><th>SUBC1</th><td>__FILL__</td></tr><tr><th>REMAINING VERTEBRAL BODIES</th><td>__FILL__</td></tr><tr><th>SCLEROSIS C5 C6</th><td>__FILL__</td></tr><tr><th>NO ACUTE FRACTURE OR MALALIGNMENT</th><td>__FILL__</td></tr><tr><th>INSTRUMENTATION</th><td>__FILL__</td></tr></tbody></table></td></tr><tr><th>SOFT TISSUES</th><td><table border="1"><tbody><tr><th>LEFT PLEURAL EFFUSION</th><td>__FILL__</td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><th>IMPRESSION</th><td>__FILL__</td></tr></tbody></table></td></tr></tbody>
</table>
</body></html>